

:root{
    --bg1 : #9b59b6;
    --bg2 : #3498db;
    --text : #26ade4;
}

  *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
  }
  
body {
    background: url('/images/bg-1.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
  
.container {
    width: 340px;
    height: 450px;
    background: #fff;
    position: relative;
    overflow: hidden;
    border-radius: 10px;
}  

.container form {
    position: absolute;
    top: 100px;
    padding: 0 20px;
    width: 340px;
    transition: 0.5s;
}

.container form h1 {
    color: #BF925B;
    margin-bottom: 40px;
}
.container form input{
    height: 35px;
    width: 100%;
    padding: 12px;
    margin-bottom: 20px;
    border: none;
    border-bottom: 2px solid #ccc;
    background: transparent;
}

.input_tel input{
    height: 48px;
    border-radius: 4px;
    border: 2px solid #a3a3a3;
    color: #222;
}


.container form button {
    height: 35px;
    width: 120px;
    background: linear-gradient(to right,var(--bg1), var(--bg2));
    border: none;
    border-radius: 5px;
    margin-top: 20px;
    color: #fff;
    cursor: pointer;
}

.form_text{
    margin-bottom: 40px;
    text-align: center;
}

.form-two {
    left: 340px;
}

.form-three {
    left: 340px;
}

.form-step{
    display: flex;
    height: 40px;
    border-bottom: 2px solid #ccc;
    position: relative;
}

.form-step span {
    display: block;
    width: 100px;
    line-height: 40px;
}

.line {
    position: absolute;
    width: 100px;
    height: 40px;
    background: linear-gradient(to right,var(--bg1), var(--bg2));
    transition: 0.5s;
    opacity: 0.8;
}

.line::before {
    content: '';
    position: absolute;
    border-bottom: 20px solid transparent;
    border-top: 20px solid transparent;
    border-left: 20px solid #3498db;
    border-right: 20px solid transparent;
    right: -40px;
} 

.form-login-V2 .form__input-pin {
    margin-bottom: 0;
}
.form-login-V2 .form__input-pin>div {
    justify-content: space-between;
    box-sizing: border-box;
}